<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome!</h1>

    {% if request.user.is_authenticated %}
        <p>{{ request.user.username }}</p>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'list_categories' %}">List categories</a>
        <a href="{% url 'upload_categories' %}">Upload categories</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}

</body>
</html>